.estimate_form {
  margin: 0 30%;
}

.menu {
  margin-bottom: 100px;
}

.line1 {
  animation-duration: 1s;
  animation-name: slidein;
  animation-timing-function: ease;
}

.line2 {
  animation-duration: 2s ;
  animation-name: slidein;
  animation-timing-function: ease;
}

@keyframes slidein {
  from {
    margin-bottom: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

input {
  color: black;
}



