.form {
  margin-left: 50px;
  margin-right: 50px;
}

.form_field {
  padding-right: 15px;
  padding-bottom: 5px;
}

.logo {
   border-radius: 50%;
   background-color: white;
   position: relative;
   top: 140px;
}

.menu {
    margin-top: -10%;
    margin-bottom: 10%;
}



@media screen and (max-width: 750px) {
    
}