.estimate_form {
  margin: 0 25%;
}

.line1 {
  animation-duration: 1s;
  animation-name: slidein;
  animation-timing-function: ease;
}

.line2 {
  animation-duration: 2s;
  animation-name: slidein;
  animation-timing-function: ease;
}

@keyframes slidein {
  from {
    margin-bottom: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

label {
  animation-duration: 2s;
  animation-name: slidein;
  animation-timing-function: ease;
}

img.ui.centered.image.esti {
  background-color: #fff;
  border-radius: 50%;
  margin-top: -70px;
}

h2.ui.header {
  animation-duration: 2s;
  animation-name: slidein;
  animation-timing-function: ease;
}

div.sub.header {
  animation-duration: 2s;
  animation-name: slidein;
  animation-timing-function: ease;
}

::-webkit-scrollbar {
  display: none;
}

.home {
  padding-top: 200px;
}

.add_remove_btns {
  padding-top: 8px;
}
